<div class="bg-image" style="background-image: url(https://images.pexels.com/photos/9160637/pexels-photo-9160637.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
    <div class="container text-center p-3">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cadastre a Carta</h5>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="nome-carta">Nome da Carta:</span>
                            <input type="text" class="form-control" aria-label="NomeCarta" aria-labelledby="nome-carta">
                        </div>
                        <div class="input-group mb-3">
                            <label for="selecionaCor" class="input-group-text">Cor:</label>
                            <select id="selecionaCor" class="form-select">
                                <option selected>Escolha a color...</option>
                                <option value="W">Branco</option>
                                <option value="B">Preto</option>
                                <option value="R">Vermelho</option>
                                <option value="U">Azul</option>
                                <option value="G">Verde</option>
                                <option value="WB">Orzhov - Branco e Preto</option>
                                <option value="WR">Boros - Branco e Vermelho</option>
                                <option value="WU">Azorius - Branco e Azul</option>
                                <option value="WG">Selesnya - Branco e Verde</option>
                                <option value="BR">Rakdos - Preto e Vermelho</option>
                                <option value="BU">Dimir - Preto e Azul</option>
                                <option value="BG">Golgari - Preto e Verde</option>
                                <option value="RU">Izzet - Vermelho e Azul</option>
                                <option value="RG">Gruul - Vermelho e Verde</option>
                                <option value="GU">Simic - Verde e Azul</option>
                                <option value="WBR">Mardu - Branco, Preto e Vermelho</option>
                                <option value="WBU">Esper - Branco, Preto e Azul</option>
                                <option value="WBG">Abzan - Branco, Preto e Verde</option>
                                <option value="WRU">Jeskai - Branco, Vermelho e Azul</option>
                                <option value="WRG">Naya - Branco, Vermelho e Verde</option>
                                <option value="WUG">Bant - Branco, Azul e Verde</option>
                                <option value="BRU">Grixis - Preto, Vermelho e Azul</option>
                                <option value="BRG">Jund - Preto, Vermelho e Verde</option>
                                <option value="RUG">Temur - Vermelho, Azul e Verde</option>
                                <option value="BUG">Sultai - Preto, Azul e Verde</option>
                                <option value="WBRU">Artifice - Branco, Preto, Vermelho e Azul</option>
                                <option value="WBRG">Aggression - Branco, Preto, Vermelho e Verde</option>
                                <option value="BRUG">Chaos - Preto, Vermelho, Azul e Verde</option>
                                <option value="RUGW">Altruism - Vermelho, Azul, Verde e Branco</option>
                                <option value="GWUB">Growth - Branco, Preto, Vermelho e Azul</option>
                                <option value="WBRUG">Conflux - Branco, Preto, Vermelho, Azul e Verde</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="cost">Custo:</span>
                            <input type="text" class="form-control" aria-label="Cost" aria-labelledby="cost">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="cmc">CMC - Custo de Mana Calculado:</span>
                            <input type="number" class="form-control" aria-label="CMC" aria-labelledby="cmc">
                        </div>
                        <div class="input-group mb-3">
                            <label for="supertype" class="input-group-text">Supertipo:</label>
                            <select id="supertype" class="form-select">
                                <option selected>Escolha a supertipo...</option>
                                <option value="Basic">Basic</option>
                                <option value="Legendary">Legendary</option>
                                <option value="Ongoing">Ongoing</option>
                                <option value="Snow">Snow</option>
                                <option value="World">World</option>
                                <option value="Elite">Elite</option>
                                <option value="Host">Host</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <label for="type" class="input-group-text">Tipo:</label>
                            <select id="type" class="form-select">
                                <option selected>Escolha a tipo...</option>
                                <option value="Artifact">Artifact</option>
                                <option value="Creatures">Creatures</option>
                                <option value="Enchantments">Enchantments</option>
                                <option value="Instants">Instants</option>
                                <option value="Lands">Lands</option>
                                <option value="Planeswalkers">Planeswalkers</option>
                                <option value="Sorceries">Sorceries</option>
                                <option value="Kindreds">Kindreds</option>
                                <option value="Dungeons">Dungeons</option>
                                <option value="Battles">Battles</option>
                                <option value="Planes">Planes</option>
                                <option value="Phenomena">Phenomena</option>
                                <option value="Vanguards">Vanguards</option>
                                <option value="Schemes">Schemes</option>
                                <option value="Conspiracies">Conspiracies</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <label for="subtype" class="input-group-text">Subtipo:</label>
                            <select id="subtype" class="form-select">
                                <option selected>Escolha o subtipo...</option>
                                <option value="Artifact" class="fw-bold">Artifact</option>
                                <option value="Artifact - Attraction">Attraction</option>
                                <option value="Artifact - Blood">Blood</option>
                                <option value="Artifact - Bobblehead">Bobblehead</option>
                                <option value="Artifact - Clue">Clue</option>
                                <option value="Artifact - Contraption">Contraption</option>
                                <option value="Artifact - Equipment">Equipment</option>
                                <option value="Artifact - Food">Food</option>
                                <option value="Artifact - Fortification">Fortification</option>
                                <option value="Artifact - Gold">Gold</option>
                                <option value="Artifact - Hat">Hat</option>
                                <option value="Artifact - Incubator">Incubator</option>
                                <option value="Artifact - Junk">Junk</option>
                                <option value="Artifact - Key">Key</option>
                                <option value="Artifact - Map">Map</option>
                                <option value="Artifact - Powerstone">Powerstone</option>
                                <option value="Artifact - Scrap">Scrap</option>
                                <option value="Artifact - Scythe">Scythe</option>
                                <option value="Artifact - Treasure">Treasure</option>
                                <option value="Artifact - Vehicle">Vehicle</option>
                                <option value="Battles" class="fw-bold">Battles</option>
                                <option value="Battles - Control Point">Control Point</option>
                                <option value="Battles - Siege">Siege</option>
                                <option value="Creatures" class="fw-bold">Creatures</option>
                                <option value="Creatures - ">Creatures</option>
                                <option value="Creatures - Advisor">Advisor</option>
                                <option value="Creatures - Aetherborn">Aetherborn</option>
                                <option value="Creatures - Alien">Alien</option>
                                <option value="Creatures - Ally">Ally</option>
                                <option value="Creatures - Angel">Angel</option>
                                <option value="Creatures - Antelope">Antelope</option>
                                <option value="Creatures - Ape">Ape</option>
                                <option value="Creatures - Archer">Archer</option>
                                <option value="Creatures - Archon">Archon</option>
                                <option value="Creatures - Armadillo">Armadillo</option>
                                <option value="Creatures - Army">Army</option>
                                <option value="Creatures - Artificer">Artificer</option>
                                <option value="Creatures - Assassin">Assassin</option>
                                <option value="Creatures - Assembly-Worker">Assembly-Worker</option>
                                <option value="Creatures - Astartes">Astartes</option>
                                <option value="Creatures - Atog">Atog</option>
                                <option value="Creatures - Aurochs">Aurochs</option>
                                <option value="Creatures - Avatar">Avatar</option>
                                <option value="Creatures - Azra">Azra</option>
                                <option value="Creatures - Badger">Badger</option>
                                <option value="Creatures - Balloon">Balloon</option>
                                <option value="Creatures - Barbarian">Barbarian</option>
                                <option value="Creatures - Bard">Bard</option>
                                <option value="Creatures - Basilisk">Basilisk</option>
                                <option value="Creatures - Bat">Bat</option>
                                <option value="Creatures - Beaver">Beaver</option>
                                <option value="Creatures - Bear">Bear</option>
                                <option value="Creatures - Beast">Beast</option>
                                <option value="Creatures - Beeble">Beeble</option>
                                <option value="Creatures - Beholder">Beholder</option>
                                <option value="Creatures - Berserker">Berserker</option>
                                <option value="Creatures - Bird">Bird</option>
                                <option value="Creatures - Blinkmoth">Blinkmoth</option>
                                <option value="Creatures - Boar">Boar</option>
                                <option value="Creatures - Bringer">Bringer</option>
                                <option value="Creatures - Brushwagg">Brushwagg</option>
                                <option value="Creatures - Camarid">Camarid</option>
                                <option value="Creatures - Camel">Camel</option>
                                <option value="Creatures - Capybara">Capybara</option>
                                <option value="Creatures - Caribou">Caribou</option>
                                <option value="Creatures - Carrier">Carrier</option>
                                <option value="Creatures - Cat">Cat</option>
                                <option value="Creatures - Centaur">Centaur</option>
                                <option value="Creatures - Child">Child</option>
                                <option value="Creatures - Chimera">Chimera</option>
                                <option value="Creatures - Citizen">Citizen</option>
                                <option value="Creatures - Cleric">Cleric</option>
                                <option value="Creatures - Clown">Clown</option>
                                <option value="Creatures - Cockatrice">Cockatrice</option>
                                <option value="Creatures - Construct">Construct</option>
                                <option value="Creatures - Coward">Coward</option>
                                <option value="Creatures - Coyote">Coyote</option>
                                <option value="Creatures - Crab">Crab</option>
                                <option value="Creatures - Crocodile">Crocodile</option>
                                <option value="Creatures - Ctan">C'tan</option>
                                <option value="Creatures - Custodes">Custodes</option>
                                <option value="Creatures - Cyberman">Cyberman</option>
                                <option value="Creatures - Cyclops">Cyclops</option>
                                <option value="Creatures - Dalek">Dalek</option>
                                <option value="Creatures - Dauthi">Dauthi</option>
                                <option value="Creatures - Demigod">Demigod</option>
                                <option value="Creatures - Demon">Demon</option>
                                <option value="Creatures - Deserter">Deserter</option>
                                <option value="Creatures - Detective">Detective</option>
                                <option value="Creatures - Devil">Devil</option>
                                <option value="Creatures - Dinosaur">Dinosaur</option>
                                <option value="Creatures - Djinn">Djinn</option>
                                <option value="Creatures - Doctor">Doctor</option>
                                <option value="Creatures - Dog">Dog</option>
                                <option value="Creatures - Dragon">Dragon</option>
                                <option value="Creatures - Drake">Drake</option>
                                <option value="Creatures - Dreadnought">Dreadnought</option>
                                <option value="Creatures - Drone">Drone</option>
                                <option value="Creatures - Druid">Druid</option>
                                <option value="Creatures - Dryad">Dryad</option>
                                <option value="Creatures - Dwarf">Dwarf</option>
                                <option value="Creatures - Efreet">Efreet</option>
                                <option value="Creatures - Egg">Egg</option>
                                <option value="Creatures - Elder">Elder</option>
                                <option value="Creatures - Eldrazi">Eldrazi</option>
                                <option value="Creatures - Elemental">Elemental</option>
                                <option value="Creatures - Elephant">Elephant</option>
                                <option value="Creatures - Elf">Elf</option>
                                <option value="Creatures - Elk">Elk</option>
                                <option value="Creatures - Employee">Employee</option>
                                <option value="Creatures - Eye">Eye</option>
                                <option value="Creatures - Faerie">Faerie</option>
                                <option value="Creatures - Ferret">Ferret</option>
                                <option value="Creatures - Fish">Fish</option>
                                <option value="Creatures - Flagbearer">Flagbearer</option>
                                <option value="Creatures - Fox">Fox</option>
                                <option value="Creatures - Fractal">Fractal</option>
                                <option value="Creatures - Frog">Frog</option>
                                <option value="Creatures - Fungus">Fungus</option>
                                <option value="Creatures - Gamer">Gamer</option>
                                <option value="Creatures - Gargoyle">Gargoyle</option>
                                <option value="Creatures - Germ">Germ</option>
                                <option value="Creatures - Giant">Giant</option>
                                <option value="Creatures - Gith">Gith</option>
                                <option value="Creatures - Glimmer">Glimmer</option>
                                <option value="Creatures - Gnoll">Gnoll</option>
                                <option value="Creatures - Gnome">Gnome</option>
                                <option value="Creatures - Goat">Goat</option>
                                <option value="Creatures - Goblin">Goblin</option>
                                <option value="Creatures - God">God</option>
                                <option value="Creatures - Golem">Golem</option>
                                <option value="Creatures - Gorgon">Gorgon</option>
                                <option value="Creatures - Graveborn">Graveborn</option>
                                <option value="Creatures - Gremlin">Gremlin</option>
                                <option value="Creatures - Griffin">Griffin</option>
                                <option value="Creatures - Guest">Guest</option>
                                <option value="Creatures - Hag">Hag</option>
                                <option value="Creatures - Halfling">Halfling</option>
                                <option value="Creatures - Hamster">Hamster</option>
                                <option value="Creatures - Harpy">Harpy</option>
                                <option value="Creatures - Hellion">Hellion</option>
                                <option value="Creatures - Hippo">Hippo</option>
                                <option value="Creatures - Hippogriff">Hippogriff</option>
                                <option value="Creatures - Homarid">Homarid</option>
                                <option value="Creatures - Homunculus">Homunculus</option>
                                <option value="Creatures - Horror">Horror</option>
                                <option value="Creatures - Horse">Horse</option>
                                <option value="Creatures - Human">Human</option>
                                <option value="Creatures - Hydra">Hydra</option>
                                <option value="Creatures - Hyena">Hyena</option>
                                <option value="Creatures - Illusion">Illusion</option>
                                <option value="Creatures - Imp">Imp</option>
                                <option value="Creatures - Incarnation">Incarnation</option>
                                <option value="Creatures - Inkling">Inkling</option>
                                <option value="Creatures - Inquisitor">Inquisitor</option>
                                <option value="Creatures - Insect">Insect</option>
                                <option value="Creatures - Jackal">Jackal</option>
                                <option value="Creatures - Jellyfish">Jellyfish</option>
                                <option value="Creatures - Juggernaut">Juggernaut</option>
                                <option value="Creatures - Kavu">Kavu</option>
                                <option value="Creatures - Kirin">Kirin</option>
                                <option value="Creatures - Kithkin">Kithkin</option>
                                <option value="Creatures - Knight">Knight</option>
                                <option value="Creatures - Kobold">Kobold</option>
                                <option value="Creatures - Kor">Kor</option>
                                <option value="Creatures - Kraken">Kraken</option>
                                <option value="Creatures - Lamia">Lamia</option>
                                <option value="Creatures - Lammasu">Lammasu</option>
                                <option value="Creatures - Leech">Leech</option>
                                <option value="Creatures - Leviathan">Leviathan</option>
                                <option value="Creatures - Lhurgoyf">Lhurgoyf</option>
                                <option value="Creatures - Licid">Licid</option>
                                <option value="Creatures - Lizard">Lizard</option>
                                <option value="Creatures - Llama">Llama</option>
                                <option value="Creatures - Manticore">Manticore</option>
                                <option value="Creatures - Masticore">Masticore</option>
                                <option value="Creatures - Mercenary">Mercenary</option>
                                <option value="Creatures - Merfolk">Merfolk</option>
                                <option value="Creatures - Metathran">Metathran</option>
                                <option value="Creatures - Minion">Minion</option>
                                <option value="Creatures - Minotaur">Minotaur</option>
                                <option value="Creatures - Mite">Mite</option>
                                <option value="Creatures - Mole">Mole</option>
                                <option value="Creatures - Monger">Monger</option>
                                <option value="Creatures - Mongoose">Mongoose</option>
                                <option value="Creatures - Monk">Monk</option>
                                <option value="Creatures - Monkey">Monkey</option>
                                <option value="Creatures - Moonfolk">Moonfolk</option>
                                <option value="Creatures - Mount">Mount</option>
                                <option value="Creatures - Mouse">Mouse</option>
                                <option value="Creatures - Mutant">Mutant</option>
                                <option value="Creatures - Myr">Myr</option>
                                <option value="Creatures - Mystic">Mystic</option>
                                <option value="Creatures - Nautilus">Nautilus</option>
                                <option value="Creatures - Necron">Necron</option>
                                <option value="Creatures - Nephilim">Nephilim</option>
                                <option value="Creatures - Nightmare">Nightmare</option>
                                <option value="Creatures - Nightstalker">Nightstalker</option>
                                <option value="Creatures - Ninja">Ninja</option>
                                <option value="Creatures - Noble">Noble</option>
                                <option value="Creatures - Noggle">Noggle</option>
                                <option value="Creatures - Nomad">Nomad</option>
                                <option value="Creatures - Nymph">Nymph</option>
                                <option value="Creatures - Octopus">Octopus</option>
                                <option value="Creatures - Ogre">Ogre</option>
                                <option value="Creatures - Ooze">Ooze</option>
                                <option value="Creatures - Orb">Orb</option>
                                <option value="Creatures - Orc">Orc</option>
                                <option value="Creatures - Orgg">Orgg</option>
                                <option value="Creatures - Otter">Otter</option>
                                <option value="Creatures - Ouphe">Ouphe</option>
                                <option value="Creatures - Ox">Ox</option>
                                <option value="Creatures - Oyster">Oyster</option>
                                <option value="Creatures - Pangolin">Pangolin</option>
                                <option value="Creatures - Peasant">Peasant</option>
                                <option value="Creatures - Pegasus">Pegasus</option>
                                <option value="Creatures - Pentavite">Pentavite</option>
                                <option value="Creatures - Performer">Performer</option>
                                <option value="Creatures - Pest">Pest</option>
                                <option value="Creatures - Phelddagrif">Phelddagrif</option>
                                <option value="Creatures - Phoenix">Phoenix</option>
                                <option value="Creatures - Phyrexian">Phyrexian</option>
                                <option value="Creatures - Pilot">Pilot</option>
                                <option value="Creatures - Pincher">Pincher</option>
                                <option value="Creatures - Pirate">Pirate</option>
                                <option value="Creatures - Plant">Plant</option>
                                <option value="Creatures - Porcupine">Porcupine</option>
                                <option value="Creatures - Possum">Possum</option>
                                <option value="Creatures - Praetor">Praetor</option>
                                <option value="Creatures - Primarch">Primarch</option>
                                <option value="Creatures - Prism">Prism</option>
                                <option value="Creatures - Processor">Processor</option>
                                <option value="Creatures - Raccoon">Raccoon</option>
                                <option value="Creatures - Rabbit">Rabbit</option>
                                <option value="Creatures - Ranger">Ranger</option>
                                <option value="Creatures - Rat">Rat</option>
                                <option value="Creatures - Rebel">Rebel</option>
                                <option value="Creatures - Reflection">Reflection</option>
                                <option value="Creatures - Rhino">Rhino</option>
                                <option value="Creatures - Rigger">Rigger</option>
                                <option value="Creatures - Robot">Robot</option>
                                <option value="Creatures - Rogue">Rogue</option>
                                <option value="Creatures - Sable">Sable</option>
                                <option value="Creatures - Salamander">Salamander</option>
                                <option value="Creatures - Samurai">Samurai</option>
                                <option value="Creatures - Sand">Sand</option>
                                <option value="Creatures - Saproling">Saproling</option>
                                <option value="Creatures - Satyr">Satyr</option>
                                <option value="Creatures - Scarecrow">Scarecrow</option>
                                <option value="Creatures - Scientist">Scientist</option>
                                <option value="Creatures - Scion">Scion</option>
                                <option value="Creatures - Scorpion">Scorpion</option>
                                <option value="Creatures - Scout">Scout</option>
                                <option value="Creatures - Sculpture">Sculpture</option>
                                <option value="Creatures - Serf">Serf</option>
                                <option value="Creatures - Serpent">Serpent</option>
                                <option value="Creatures - Servo">Servo</option>
                                <option value="Creatures - Shade">Shade</option>
                                <option value="Creatures - Shaman">Shaman</option>
                                <option value="Creatures - Shapeshifter">Shapeshifter</option>
                                <option value="Creatures - Shark">Shark</option>
                                <option value="Creatures - Sheep">Sheep</option>
                                <option value="Creatures - Siren">Siren</option>
                                <option value="Creatures - Skeleton">Skeleton</option>
                                <option value="Creatures - Skunk">Skunk</option>
                                <option value="Creatures - Slith">Slith</option>
                                <option value="Creatures - Sliver">Sliver</option>
                                <option value="Creatures - Sloth">Sloth</option>
                                <option value="Creatures - Slug">Slug</option>
                                <option value="Creatures - Snail">Snail</option>
                                <option value="Creatures - Snake">Snake</option>
                                <option value="Creatures - Soldier">Soldier</option>
                                <option value="Creatures - Soltari">Soltari</option>
                                <option value="Creatures - Spawn">Spawn</option>
                                <option value="Creatures - Specter">Specter</option>
                                <option value="Creatures - Spellshaper">Spellshaper</option>
                                <option value="Creatures - Sphinx">Sphinx</option>
                                <option value="Creatures - Spider">Spider</option>
                                <option value="Creatures - Spike">Spike</option>
                                <option value="Creatures - Spirit">Spirit</option>
                                <option value="Creatures - Splinter">Splinter</option>
                                <option value="Creatures - Sponge">Sponge</option>
                                <option value="Creatures - Squid">Squid</option>
                                <option value="Creatures - Squirrel">Squirrel</option>
                                <option value="Creatures - Starfish">Starfish</option>
                                <option value="Creatures - Surrakar">Surrakar</option>
                                <option value="Creatures - Survivor">Survivor</option>
                                <option value="Creatures - Synth">Synth</option>
                                <option value="Creatures - Tentacle">Tentacle</option>
                                <option value="Creatures - Tetravite">Tetravite</option>
                                <option value="Creatures - Thalakos">Thalakos</option>
                                <option value="Creatures - Thopter">Thopter</option>
                                <option value="Creatures - Thrull">Thrull</option>
                                <option value="Creatures - Tiefling">Tiefling</option>
                                <option value="Creatures - Time">Time Lord</option>
                                <option value="Creatures - Toy">Toy</option>
                                <option value="Creatures - Treefolk">Treefolk</option>
                                <option value="Creatures - Trilobite">Trilobite</option>
                                <option value="Creatures - Triskelavite">Triskelavite</option>
                                <option value="Creatures - Troll">Troll</option>
                                <option value="Creatures - Turtle">Turtle</option>
                                <option value="Creatures - Tyranid">Tyranid</option>
                                <option value="Creatures - Unicorn">Unicorn</option>
                                <option value="Creatures - Vampire">Vampire</option>
                                <option value="Creatures - Varmint">Varmint</option>
                                <option value="Creatures - Vedalken">Vedalken</option>
                                <option value="Creatures - Volver">Volver</option>
                                <option value="Creatures - Wall">Wall</option>
                                <option value="Creatures - Walrus">Walrus</option>
                                <option value="Creatures - Warlock">Warlock</option>
                                <option value="Creatures - Warrior">Warrior</option>
                                <option value="Creatures - Weasel">Weasel</option>
                                <option value="Creatures - Weird">Weird</option>
                                <option value="Creatures - Werewolf">Werewolf</option>
                                <option value="Creatures - Whale">Whale</option>
                                <option value="Creatures - Wizard">Wizard</option>
                                <option value="Creatures - Wolf">Wolf</option>
                                <option value="Creatures - Wolverine">Wolverine</option>
                                <option value="Creatures - Wombat">Wombat</option>
                                <option value="Creatures - Worm">Worm</option>
                                <option value="Creatures - Wraith">Wraith</option>
                                <option value="Creatures - Wurm">Wurm</option>
                                <option value="Creatures - Yeti">Yeti</option>
                                <option value="Creatures - Zombie">Zombie</option>
                                <option value="Creatures - Zubera">Zubera</option>
                                <option value="Creatures - Alicorn">Alicorn</option>
                                <option value="Creatures - Armored">Armored</option>
                                <option value="Creatures - Art">Art</option>
                                <option value="Creatures - Artist">Artist</option>
                                <option value="Creatures - Athlete">Athlete</option>
                                <option value="Creatures - Attendee">Attendee</option>
                                <option value="Creatures - Autobot">Autobot</option>
                                <option value="Creatures - Aven">Aven</option>
                                <option value="Creatures - Boxer">Boxer</option>
                                <option value="Creatures - Brainiac">Brainiac</option>
                                <option value="Creatures - Bureaucrat">Bureaucrat</option>
                                <option value="Creatures - Chameleon">Chameleon</option>
                                <option value="Creatures - Champion">Champion</option>
                                <option value="Creatures - Chef">Chef</option>
                                <option value="Creatures - Chicken">Chicken</option>
                                <option value="Creatures - Clamfolk">Clamfolk</option>
                                <option value="Creatures - Cobbler">Cobbler</option>
                                <option value="Creatures - Cow">Cow</option>
                                <option value="Creatures - Cyborg">Cyborg</option>
                                <option value="Creatures - Deer">Deer</option>
                                <option value="Creatures - Designer">Designer</option>
                                <option value="Creatures - Die">Die</option>
                                <option value="Creatures - Donkey">Donkey</option>
                                <option value="Creatures - Elemental">Elemental</option>
                                <option value="Creatures - Elves">Elves</option>
                                <option value="Creatures - Expansion Symbol">Expansion Symbol</option>
                                <option value="Creatures - Fighter">Fighter</option>
                                <option value="Creatures - Glass">Glass</option>
                                <option value="Creatures - Gorilla">Gorilla</option>
                                <option value="Creatures - Grandchild">Grandchild</option>
                                <option value="Creatures - Gus">Gus</option>
                                <option value="Creatures - Hatificer">Hatificer</option>
                                <option value="Creatures - Half">Half</option>
                                <option value="Creatures - Head">Head</option>
                                <option value="Creatures - Hero">Hero</option>
                                <option value="Creatures - Judge">Judge</option>
                                <option value="Creatures - Kangaroo">Kangaroo</option>
                                <option value="Creatures - Killbot">Killbot</option>
                                <option value="Creatures - Lady of Proper Etiquette">Lady of Proper Etiquette</option>
                                <option value="Creatures - Lobster">Lobster</option>
                                <option value="Creatures - Locus">Locus</option>
                                <option value="Creatures - Mammoth">Mammoth</option>
                                <option value="Creatures - Mime">Mime</option>
                                <option value="Creatures - Mummy">Mummy</option>
                                <option value="Creatures - Paratrooper">Paratrooper</option>
                                <option value="Creatures - Penguin">Penguin</option>
                                <option value="Creatures - Pony">Pony</option>
                                <option value="Creatures - Present">Present</option>
                                <option value="Creatures - Reveler">Reveler</option>
                                <option value="Creatures - Ship">Ship</option>
                                <option value="Creatures - Shoemaker">Shoemaker</option>
                                <option value="Creatures - Sketch">Sketch</option>
                                <option value="Creatures - Spuzzem">Spuzzem</option>
                                <option value="Creatures - Spy">Spy</option>
                                <option value="Creatures - Stained">Stained</option>
                                <option value="Creatures - Teddy">Teddy</option>
                                <option value="Creatures - Townsfolk">Townsfolk</option>
                                <option value="Creatures - Tree">Tree</option>
                                <option value="Creatures - Vampyre">Vampyre</option>
                                <option value="Creatures - Villain">Villain</option>
                                <option value="Creatures - Wainwright">Wainwright</option>
                                <option value="Creatures - Waiter">Waiter</option>
                                <option value="Creatures - Windmill">Windmill</option>
                                <option value="Creatures - Wrestler">Wrestler</option>
                                <option value="Creatures - Zonian">Zonian</option>
                                <option value="Enchantments" class="fw-bold">Enchantments</option>
                                <option value="Enchantments - Aura">Aura</option>
                                <option value="Instants" class="fw-bold">Instants</option>
                                <option value="Instants - Adventure">Adventure</option>
                                <option value="Instants - Arcane">Arcane</option>
                                <option value="Instants - Chorus">Chorus</option>
                                <option value="Instants - Lesson">Lesson</option>
                                <option value="Instants - Trap">Trap</option>
                                <option value="Lands" class="fw-bold">Lands</option>
                                <option value="Lands - Plains">Plains</option>
                                <option value="Lands - Island">Island</option>
                                <option value="Lands - Swamp">Swamp</option>
                                <option value="Lands - Mountain">Mountain</option>
                                <option value="Lands - Forest">Forest</option>
                                <option value="Lands - Cave">Cave</option>
                                <option value="Lands - Desert">Desert</option>
                                <option value="Lands - Gate">Gate</option>
                                <option value="Lands - Lair">Lair</option>
                                <option value="Lands - Locus">Locus</option>
                                <option value="Lands - Sphere">Sphere</option>
                                <option value="Lands - Urza">Urza</option>
                                <option value="Lands - Urza">Urza Mine</option>
                                <option value="Lands - Urza">Urza Power Plant</option>
                                <option value="Lands - Urza">Urza Tower</option>
                                <option value="Lands - Omenpath">Omenpath</option>
                                <option value="Lands - Town">Town</option>
                                <option value="Lands - Ulamog">Ulamog</option>
                                <option value="Planeswalkers" class="fw-bold">Planeswalkers</option>
                                <option value="Planeswalkers - Ajani">Ajani</option>
                                <option value="Planeswalkers - Ashiok">Ashiok</option>
                                <option value="Planeswalkers - Chandra">Chandra</option>
                                <option value="Planeswalkers - Elspeth">Elspeth</option>
                                <option value="Planeswalkers - Grist">Grist</option>
                                <option value="Planeswalkers - Jace">Jace</option>
                                <option value="Planeswalkers - Kaito">Kaito</option>
                                <option value="Planeswalkers - Kaya">Kaya</option>
                                <option value="Planeswalkers - Oko">Oko</option>
                                <option value="Planeswalkers - Quintorius">Quintorius</option>
                                <option value="Planeswalkers - Ral">Ral</option>
                                <option value="Planeswalkers - Sorin">Sorin</option>
                                <option value="Planeswalkers - Ugin">Ugin</option>
                                <option value="Planeswalkers - Aminatou">Aminatou</option>
                                <option value="Planeswalkers - Basri">Basri</option>
                                <option value="Planeswalkers - Calix">Calix</option>
                                <option value="Planeswalkers - Daretti">Daretti</option>
                                <option value="Planeswalkers - Karn">Karn</option>
                                <option value="Planeswalkers - Kiora">Kiora</option>
                                <option value="Planeswalkers - Koth">Koth</option>
                                <option value="Planeswalkers - Nahiri">Nahiri</option>
                                <option value="Planeswalkers - Narset">Narset</option>
                                <option value="Planeswalkers - Niko">Niko</option>
                                <option value="Planeswalkers - Nissa">Nissa</option>
                                <option value="Planeswalkers - Nixilis">Nixilis</option>
                                <option value="Planeswalkers - Rowan">Rowan</option>
                                <option value="Planeswalkers - Saheeli">Saheeli</option>
                                <option value="Planeswalkers - Samut">Samut</option>
                                <option value="Planeswalkers - Sarkhan">Sarkhan</option>
                                <option value="Planeswalkers - Teferi">Teferi</option>
                                <option value="Planeswalkers - Tyvar">Tyvar</option>
                                <option value="Planeswalkers - Vraska">Vraska</option>
                                <option value="Planeswalkers - Will">Will</option>
                                <option value="Planeswalkers - Yanling">Yanling</option>
                                <option value="Planeswalkers - Dack">Dack</option>
                                <option value="Planeswalkers - Domri">Domri</option>
                                <option value="Planeswalkers - Dovin">Dovin</option>
                                <option value="Planeswalkers - Freyalise">Freyalise</option>
                                <option value="Planeswalkers - Gideon">Gideon</option>
                                <option value="Planeswalkers - Guff">Guff</option>
                                <option value="Planeswalkers - Jaya">Jaya</option>
                                <option value="Planeswalkers - Jeska">Jeska</option>
                                <option value="Planeswalkers - Lukka">Lukka</option>
                                <option value="Planeswalkers - Serra">Serra</option>
                                <option value="Planeswalkers - Sivitri">Sivitri</option>
                                <option value="Planeswalkers - Szat">Szat</option>
                                <option value="Planeswalkers - Tamiyo">Tamiyo</option>
                                <option value="Planeswalkers - Tibalt">Tibalt</option>
                                <option value="Planeswalkers - Vronos">Vronos</option>
                                <option value="Planeswalkers - Windgrace">Windgrace</option>
                                <option value="Planeswalkers - Wrenn">Wrenn</option>
                                <option value="Planeswalkers - Xenagos">Xenagos</option>
                                <option value="Planeswalkers - Urza">Urza</option>
                                <option value="Planeswalkers - Venser">Venser</option>
                                <option value="Planeswalkers - Angrath">Angrath</option>
                                <option value="Planeswalkers - Arlinn">Arlinn</option>
                                <option value="Planeswalkers - Bolas">Bolas</option>
                                <option value="Planeswalkers - Dakkon">Dakkon</option>
                                <option value="Planeswalkers - Davriel">Davriel</option>
                                <option value="Planeswalkers - Dihada">Dihada</option>
                                <option value="Planeswalkers - Estrid">Estrid</option>
                                <option value="Planeswalkers - Garruk">Garruk</option>
                                <option value="Planeswalkers - Jared">Jared</option>
                                <option value="Planeswalkers - Kasmina">Kasmina</option>
                                <option value="Planeswalkers - Liliana">Liliana</option>
                                <option value="Planeswalkers - Teyo">Teyo</option>
                                <option value="Planeswalkers - Tezzeret">Tezzeret</option>
                                <option value="Planeswalkers - Vivien">Vivien</option>
                                <option value="Planeswalkers - Yanggu">Yanggu</option>
                                <option value="Planeswalkers - Bahamut">Bahamut</option>
                                <option value="Planeswalkers - Comet">Comet</option>
                                <option value="Planeswalkers - Ellywick">Ellywick</option>
                                <option value="Planeswalkers - Elminster">Elminster</option>
                                <option value="Planeswalkers - Lolth">Lolth</option>
                                <option value="Planeswalkers - Minsc">Minsc</option>
                                <option value="Planeswalkers - Mordenkainen">Mordenkainen</option>
                                <option value="Planeswalkers - Tasha">Tasha</option>
                                <option value="Planeswalkers - Zariel">Zariel</option>
                                <option value="Sorceries" class="fw-bold">Sorceries</option>
                                <option value="Sorceries - Adventure">Adventure</option>
                                <option value="Sorceries - Arcane">Arcane</option>
                                <option value="Sorceries - Chorus">Chorus</option>
                                <option value="Sorceries - Lesson">Lesson</option>
                                <option value="Sorceries - Trap">Trap</option>
                                <option value="Planes" class="fw-bold">Planes</option>
                                <option value="Planes - The Abyss">The Abyss</option>
                                <option value="Planes - Alara">Alara</option>
                                <option value="Planes - Alfava Metraxis">Alfava Metraxis</option>
                                <option value="Planes - Amonkhet">Amonkhet</option>
                                <option value="Planes - Androzani Minor">Androzani Minor</option>
                                <option value="Planes - Antausia">Antausia</option>
                                <option value="Planes - Apalapucia">Apalapucia</option>
                                <option value="Planes - Arcavios">Arcavios</option>
                                <option value="Planes - Arkhos">Arkhos</option>
                                <option value="Planes - Azgol">Azgol</option>
                                <option value="Planes - Belenon">Belenon</option>
                                <option value="Planes - Bolas Meditation Realm">Bolas Meditation Realm</option>
                                <option value="Planes - Capenna">Capenna</option>
                                <option value="Planes - Cridhe">Cridhe</option>
                                <option value="Planes - The Dalek Asylum">The Dalek Asylum</option>
                                <option value="Planes - Darillium">Darillium</option>
                                <option value="Planes - Dominaria">Dominaria</option>
                                <option value="Planes - Earth">Earth</option>
                                <option value="Planes - Echoir">Echoir</option>
                                <option value="Planes - Eldraine">Eldraine</option>
                                <option value="Planes - Equilor">Equilor</option>
                                <option value="Planes - Ergamon">Ergamon</option>
                                <option value="Planes - Fabacin">Fabacin</option>
                                <option value="Planes - Fiora">Fiora</option>
                                <option value="Planes - Gallifrey">Gallifrey</option>
                                <option value="Planes - Gargantikar">Gargantikar</option>
                                <option value="Planes - Gobakhan">Gobakhan</option>
                                <option value="Planes - Horsehead Nebula">Horsehead Nebula</option>
                                <option value="Planes - Ikoria">Ikoria</option>
                                <option value="Planes - Innistrad">Innistrad</option>
                                <option value="Planes - Iquatana">Iquatana</option>
                                <option value="Planes - Ir">Ir</option>
                                <option value="Planes - Ixalan">Ixalan</option>
                                <option value="Planes - Kaladesh">Kaladesh</option>
                                <option value="Planes - Kaldheim">Kaldheim</option>
                                <option value="Planes - Kamigawa">Kamigawa</option>
                                <option value="Planes - Kandoka">Kandoka</option>
                                <option value="Planes - Karsus">Karsus</option>
                                <option value="Planes - Kephalai">Kephalai</option>
                                <option value="Planes - Kinshala">Kinshala</option>
                                <option value="Planes - Kolbahan">Kolbahan</option>
                                <option value="Planes - Kylem">Kylem</option>
                                <option value="Planes - Kyneth">Kyneth</option>
                                <option value="Planes - The Library">The Library</option>
                                <option value="Planes - Lorwyn">Lorwyn</option>
                                <option value="Planes - Luvion">Luvion</option>
                                <option value="Planes - Mars">Mars</option>
                                <option value="Planes - Mercadia">Mercadia</option>
                                <option value="Planes - Mirrodin">Mirrodin</option>
                                <option value="Planes - Moag">Moag</option>
                                <option value="Planes - Mongseng">Mongseng</option>
                                <option value="Planes - Moon">Moon</option>
                                <option value="Planes - Muraganda">Muraganda</option>
                                <option value="Planes - Necros">Necros</option>
                                <option value="Planes - New Earth">New Earth</option>
                                <option value="Planes - New Phyrexia">New Phyrexia</option>
                                <option value="Planes - Outside Mutter Spiral">Outside Mutter Spiral</option>
                                <option value="Planes - Phyrexia">Phyrexia</option>
                                <option value="Planes - Pyrulea">Pyrulea</option>
                                <option value="Planes - Rabiah">Rabiah</option>
                                <option value="Planes - Rath">Rath</option>
                                <option value="Planes - Ravnica">Ravnica</option>
                                <option value="Planes - Regatha">Regatha</option>
                                <option value="Planes - Segovia">Segovia</option>
                                <option value="Planes - Serra Realm">Serra Realm</option>
                                <option value="Planes - Shadowmoor">Shadowmoor</option>
                                <option value="Planes - Shandalar">Shandalar</option>
                                <option value="Planes - Shenmeng">Shenmeng</option>
                                <option value="Planes - Skaro">Skaro</option>
                                <option value="Planes - Spacecraft">Spacecraft</option>
                                <option value="Planes - Tarkir">Tarkir</option>
                                <option value="Planes - Theros">Theros</option>
                                <option value="Planes - Time">Time</option>
                                <option value="Planes - Trenzalore">Trenzalore</option>
                                <option value="Planes - Ulgrotha">Ulgrotha</option>
                                <option value="Planes - Unknown Planet">Unknown Planet</option>
                                <option value="Planes - Valla">Valla</option>
                                <option value="Planes - Vryn">Vryn</option>
                                <option value="Planes - Wildfire">Wildfire</option>
                                <option value="Planes - Xerex">Xerex</option>
                                <option value="Planes - Zendikar">Zendikar</option>
                                <option value="Planes - Zhalfir">Zhalfir</option>
                                <option value="Conspiracies" class="fw-bold">Conspiracies</option>
                                <option value="Conspiracies - Secret Mission">Secret Mission</option>
                            </select>
                        </div>
                         <div class="input-group mb-3">
                            <span class="input-group-text" id="description">Descrição:</span>
                            <textarea class="form-control" aria-label="Description" aria-labelledby="description" id="description" rows="3"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="power">Poder:</span>
                            <input type="text" class="form-control" aria-label="Power" aria-labelledby="power">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="toughness">Resistência:</span>
                            <input type="text" class="form-control" aria-label="Toughness" aria-labelledby="toughness">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="rarity">Rarirade:</span>
                            <input type="text" class="form-control" aria-label="Rarity" aria-labelledby="rarity">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="edition">Edição:</span>
                            <input type="text" class="form-control" aria-label="Edition" aria-labelledby="edition">
                        </div>
                        <div class="input-group mb-3">
                            <label for="foil" class="input-group-text">Foil:</label>
                            <select id="foil" class="form-select">
                                <option selected value="false">Não</option>
                                <option value="true">Sim</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="quantity">Quantidade:</span>
                            <input type="number" class="form-control" aria-label="Quantity" aria-labelledby="quantity">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>